# -*- mode: gitignore; -*-

# Emacs temporary files
*~

# Haskell stuff
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# The images/ directory contains some very large (~1.7GB) video files, used
# to create the animated gif displayed in the README of the github repo.
images/*.avi
